.table2 {
    width: 50%;
    border-collapse: collapse;
}
.a {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}
.b {
    padding: 20px;
    border: 1px solid black;
}
table.table2 tr:nth-child(odd) {
    background-color: #8f4848;
}
.c {
    font-weight: bold;
}